<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.member-mapper">

	<!-- 회원가입 시 아이디 중복체크 -->
	<select resultType="int" parameterType="String" id="hasId"> 
		select count(id) from member where id = #{id} 
	</select>
	
	<!-- 회원등록 -->	
	<insert parameterType="com.kh.flowerheal.member.dto.MemberDTO" id="insert">
		insert into member (id,pw,name, tel, zipNo, roadAddrPart1, addrDetail) 
		values(#{id},#{pw},#{name},#{tel} , #{zipNo}, #{roadAddrPart1}, #{addrDetail}) 
	</insert>
	
	<!-- 회원수정 : 비밀번호 제외 -->
	<update parameterType="com.kh.flowerheal.member.dto.MemberDTO" id="modify">
		update member set name=#{name},tel=#{tel},
						  zipNo = #{zipNo}, roadAddrPart1 = #{roadAddrPart1},
						  addrDetail = #{addrDetail}
		 where id=#{id} 
	</update>
	
	<!-- 회원수정 : 비밀번호 -->
	<update parameterType="Map" id="modifyPw">
		update member set pw=#{newPw} where id=#{id} and pw=#{nowPw} 
	</update>
	
	<!-- 회원삭제(회원용:탈퇴) -->
	<delete parameterType="Map" id="delete"> 
		delete from member where id=#{id} and pw=#{pw} 
	</delete>
	
	<!-- 회원삭제(관리자용) -->
	<delete parameterType="String" id="delByManager"> 
		delete from member where id=#{id} 
	</delete>
	
	<!-- 회원 개인 조회 -->	
	<select resultType="com.kh.flowerheal.member.dto.MemberDTO" parameterType="String" id="getMember"> 
		select id,pw,tel,name, zipNo, roadAddrPart1, addrDetail, subs_check from member where id=#{id} 
	</select>
	
	<!-- 회원 목록 조회(관리자용) -->
	<select resultType="com.kh.flowerheal.member.dto.MemberDTO" id="getMemberList"> 
		select id,pw,tel,name, zipNo, roadAddrPart1, addrDetail, subs_check, cdate,udate from member 
	</select>

	<update id="changeAddr" parameterType="Map">
		UPDATE member
    		SET zipno = #{zipNo},
        		roadaddrpart1 = #{roadAddrPart1},
        		addrdetail = #{addrDetail}
    		WHERE id = #{id}
	</update>

</mapper>