/* nav#mainNav */
#desktopNav{
	display: none;
}

#mobileNav {
	display:none;		/*js로 조절함*/
	height: 100%;
	width: 250px; 
	position: fixed;
	z-index: 20; 
	top: 0;
	left: 0;
	background-color: #f0f5b8;
	overflow: hidden;
	padding-top: 60px;
	flex-flow: column;
}

#mobileNav div{
	display: block;
	width: 100%;
}
#mobileNav div div {
	width: 100%;
	float: left;
	padding: 0;
}
#mobileNav div div:hover {
	cursor: pointer;
}

#mobileNav div div a{
	width: 100%;
	float: left;
	font-size: 16px;
	padding: 14px 16px;
	text-decoration: none;
}

#mobileNav .dropdown-container{
	display:none;

    flex-flow: column;
    background: aliceblue;

}

#mobileNav .dropdown-container.show{
	display: flex;
}
/* 



header nav{
				margin: 0 auto;
			}


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }



Dropdown Button
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

Dropdown button on hover & focus
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

The container <div> - needed to position the dropdown content
.dropdown {
  position: relative;
  display: inline-block;
}

Dropdown Content (Hidden by Default)
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #696969;
	
  min-width: 6.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

Links inside the dropdown
.dropdown-content a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd}

Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)
.show {display:block;} */

.btn-lg{
	padding: 0.6rem;
}
@media (min-width: 576px) {
	.btn-lg{
		padding: 0.5rem 1rem;
	}
}


@media (min-width: 768px) {
	#mobileNav{
		display : none !important;
	}
	#desktopNav{
		display : flex;
	}
        /* .bd-placeholder-img-lg {
          font-size: 3.5rem;
        } */

	.navbar-expand-md .navbar-collapse {
		width:80%;
	}


  #desktopNav{
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
    width: 100%;
		height: auto;
		position: unset;
		font-size: 15px;
		padding:0;
	}
	
 	.mainNav div.closeBtn,
	.openBtn,
	.closeBtn{
		display:none;
	} 

	#desktopNav .subnav,
	#desktopNav div{
/*     //padding: 0; */
    font-size: 1em;
		flex:1;
	}

 	#desktopNav div{
	    display: flex;
		justify-content: center;
	}
	
	
	#desktopNav .dropdown-container{
		display: none;
		position: absolute;
	top: 15rem;
		left: 0;
	 		background: rgb(128,128,0);
		width: 100%;
		z-index: 1;
	}
	
	.mainNav .dropdown-container#container3 a{
		float: right;
	}
	
	
	#desktopNav a{
		float: left;
		font-size: 16px;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	
	.subnav {
		float: left;
		overflow: hidden;
	}
	
	
	.subnav .dropdown-btn {
		font-size: 16px; 
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}
	
	#desktopNav div div{
		color:black;
	}
	
	#desktopNav div div:hover {
		background: rgb(128,128,0);
		cursor: pointer;
	}
	#desktopNav .dropdown-container.show{
	 display: flex !important;
	 justify-content: flex-end;
	 padding-left: 3rem;
	 }
	
	.dropdown-container {
		display: none;
		position: absolute;
		top : 14.8rem;
		left: 0;
	 	  background: rgb(128,128,0);
		width: 100%;
	}
	
	
	 	.dropdown-container a {
		color: white;
		text-decoration: none;
	}
	
	
	.dropdown-container a:hover {
		background-color: #eee;
		color: black;
	}
	
	
	.subnav:hover .dropdown-container {
		display: block;
	}
}
